h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 2px;
}

.ghost {
  background-color: gray;
  border-radius: 2px;
}

.food {
  background-color: red;
  border-radius: 4px;
}
